# Core Django and Web Server
django
gunicorn
daphne
whitenoise

# Django REST Framework and JWT
djangorestframework
djangorestframework-simplejwt

# Channels for WebSockets
channels
channels_redis

# Database and Cache
django-redis
redis
psycopg

# Environment and Settings Management
dj-database-url
python-decouple
python-dotenv

# Background Tasks with Celery
celery[redis]

# Utilities and Other Libraries
django-cors-headers
google-auth
google-auth-oauthlib
google-auth-httplib2
django-jet-reboot
django-phonenumber-field[phonenumbers]
sib-api-v3-sdk
weasyprint
vercel-blob